.left
  .image
    = image_tag 'profile_face_image.jpg', size: "300x300"
  .icons
    .twitter
      = link_to "https://twitter.com/naota7118", method: :get do
        %i.fa.fa-twitter.fa-2x
    .github
      = link_to "https://github.com/naota7118", method: :get do
        %i.fa.fa-github.fa-2x