#stars
#stars2
#stars3

-# hello world
-# .left
-#   .content
-#     %a
-#     .personal__info
-#       %ul#personal__list
-#         %li.personal__list__item
-#           %h3.question パーソナル情報
-#           .answer
-#             %p
-#               高橋 直太
-#             %br
-#               年齢：31歳
-#             %br
-#               在住：東京都
-#             %br
-#               性格：ポジティブ
-#             %br
-#               趣味：筋トレ
-#         %li.personal__list__item
-#           %h3.question 好きな〇〇
-#           .answer
-#             %p
-#               歌手：
-#             %br
-#               楽器：ウクレレ（練習中）
-#             %br
-#               映画：フォレスト・ガンプ
-#             %br
-#               言葉：七転び八起き
-#             %br
-#               ドラマ：24
-#             %br
-#               食べ物：寿司
-#             %br
-#               ブランド：ナイキ