.main
  %section.profile
    #profile
      .name
        %h2
          経歴
      .box2
        %p
          1989年9月 千葉県成田市出身
        %p  
          2012年3月 青山学院大学 総合文化政策学部総合文化政策学科 卒業
        %p  
          2015年3月 国際医療福祉大学大学院 臨床心理学専攻 修了
        %p
          2015年4月〜2020年12月 臨床心理士として病院でカウンセリングや心理検査を担当
        %p
          2020年1月〜7月 プログラミングスクールTECH:CAMP受講
        %p
          2020年8月〜10月 独学でポートフォリオ製作
        %p
          2020年11月〜 転職活動中
  %section
    #vision
      .name
        %h2
          ビジョン
      .box2
        %p
          Q. なぜwebエンジニアになりたいの？
        .balloon5
          .faceicon
            = image_tag 'profile_face_image.jpg'
          .chatting
            .says
              %p
                エンジニアを目指す理由は、より自身の学習・成長意欲が活かし、成長できる環境で仕事したいと思ったからです。
                前職では自分の成長意欲が現場で生かしにくいと感じていました。
                エンジニアになり、積極的にキャッチアップし仕事で生かしていきたいと考えております。
        %br
        %p
          フロントエンドを志望する理由
          〜〜という体験から、〇〇と考えたため。
        %p
          Q. どんなwebエンジニアになりたいの？
        %br
        %p
          1年後の姿：
          技術の向上の努力研鑽
          チームに刺激を与える存在
        %br
        %p
          3年後の姿：
          上流工程に関わる
          設計から〜まで一貫して行える
          顧客の課題解決
  %br
  %section
    #skills
      .name
        %h2
          所有スキル
      .box2
        HTML
        CSS
        Javascript
        jQuery
        Ruby
        Ruby on Rails
        Git
        Docker
        CircleCI
        AWS
        学習経緯：
        プログラミングスクールでGitHubのプルリクを用いたチーム開発を経験し、スクール卒業後は独学でRuby on Railsを用いたオリジナルアプリを開発し、アプリを開発しながら学習していきました。
        開発エピソード：このアプリを作った目的は「減量が続かない」という自分自身の悩みを解決するためです。どうすれば減量を継続しやすくなるか考え、グラフ機能を実装しました。「アプリを起動する」ボタン
  %section
    #portfolio
      .name
        %h2
          ポートフォリオ
      .box2
        ポートフォリオ
        個人開発アプリ
        使用した技術：HTML / CSS / Ruby / Ruby on Rails / jQuery / Git / GitHub / MySQL / Sass / haml / Rspec / AWS( EC2 / IAM / S3 / VPS / RDS / Route53 / ALB ) / Nginx / Capistrano / Docker / CircleCI / Chart.js / Boostrap / TwitterAPI
        PFC MASTER
        個人開発サイト
  %br
  %section
    #others
      .name
        %h2
          実績
      .box2
        Qiita執筆　概要　こだわりポイント
        面接練習会の主催
        ポートフォリオ説明YouTube動画
  %br
  %section
    #hobby
      .name
        %h2
          趣味
      .box2
        筋トレ
%link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700")
-# <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

