hello world

%p
  PFサイトをご覧いただきありがとうございます！
%p
  これまでの成果や活動をここにまとめていますので、
%p
  ぜひ最後までご覧いただけると幸いです。

%p
  経歴
%p  
  2012年3月 青山学院大学 総合文化政策学部総合文化政策学科 卒業
%p  
  2015年3月 国際医療福祉大学大学院 臨床心理学専攻 修了
%p
  2015年4月〜2020年12月 臨床心理士として総合病院、精神科クリニック、電話相談などで勤務
%p
  2020年1月 プログラミングスクールでHTML, CSS, Ruby, Railsの基礎を学ぶ
%p
  2020年5月〜7月 プログラミングスクールでGitを用いたチーム開発を経験
%p
  2020年8月 ポートフォリオを本格的に制作開始
%p
  2020年11月 ポートフォリオが完成し転職活動開始
%p
  2020年12月 転職活動中
%p 
  Vision
%p
  01 なぜエンジニアになりたいのか
%p
  02 1年後の姿
%p
  03 3年後の姿