%p
  Naota Takahashi's Portfolio
%p
  Web marketer

%a.fa.fa-bars
.image
  = image_tag 'profile_image.jpg', size: "300x250"

%p
  1989年9月 千葉県成田市出身
%p  
  2012年3月 青山学院大学 総合文化政策学部総合文化政策学科 卒業
%p  
  2015年3月 国際医療福祉大学大学院 臨床心理学専攻 修了
%p
  2015年4月〜2020年12月 臨床心理士として病院でカウンセリングや心理検査を担当
%p
  2020年1月〜7月 プログラミングスクールTECH:CAMP受講
%p
  2020年12月 転職活動中


学歴やキャリア経歴
名前（フルネーム）や出身地、主な活動拠点
現在のスキルセットと各スキルのレベル感
サービスメニュー
SNS（任意）や連絡先（必須）
過去の実績（ポートフォリオ）