.main
  .twitter
    = link_to "https://twitter.com/naota7118", method: :get do
      %i.fa.fa-twitter

  .image
    = image_tag 'profile_image.jpg', size: "300x250"
  .profile
    .name
      %h2
        Profile
    .box2
      %p
        1989年9月 千葉県成田市出身
      %p  
        2012年3月 青山学院大学 総合文化政策学部総合文化政策学科 卒業
      %p  
        2015年3月 国際医療福祉大学大学院 臨床心理学専攻 修了
      %p
        2015年4月〜2020年12月 臨床心理士として病院でカウンセリングや心理検査を担当
      %p
        2020年1月〜7月 プログラミングスクールTECH:CAMP受講
      %p
        2020年12月 転職活動中
  .vision
    .name
      %h2
        Vision
    .box2
      %p
        なぜwebエンジニアになりたいか
      %a
      　エンジニアを目指す理由は、より自身の学習・成長意欲が活かせ、成長できる環境で仕事したいと思ったからです。
      　前職は臨床心理士として、病院でカウンセリングや心理検査をしたり、総合病院で精神科の患者さん向けの集団プログラムを企画・実行する仕事などをしていました。私はスキルアップのために毎月2回は外部の勉強会を自分で探して足を運んだり、業務外の時間で週に2冊以上は本を読みカウンセリングの質が上がるような手法を積極的に学んできました。しかし、学んできた専門的な心理療法のテクニックは現場では求められず、専門的なスキルはなくても相手を思いやる気持ちを行動で示すほうが満足度が高いということが判りました。仕事そのものは楽しくやりがいを感じていましたが、将来のキャリアを考えると自分の学習意欲や成長意欲がしっかりと仕事に活かせ、もっと成長できる環境で働いた方が今以上に他の人への貢献ができ、私自身も幸せに働けるのではないかと思いました。
      　エンジニアは常に学習し続けることで、自身が開発・対応できる範囲が広がっていく職業だと思います。私はプログラミングはもちろん今までも筋トレやブログなど、コツコツ継続し積み上げることを好んで取り組んできました。プログラミングは2020年1月から平日は1日3時間、休日は8時間欠かさず学習し続けています。筋トレは3年間週3日ジムに通い続け、ベンチプレスを30kgから80kgまで上げられるようになりました。日々学習を継続し成長過程を楽しいと感じるマインドを活かして常にプログラミングスキルを向上し続け、開発や改善を行い、その結果多くの人が豊かに繋がる仕事をしたいと考えたため、エンジニアを目指しています。
      %br
      %p
        フロントエンドを志望する理由
        〜〜という体験から、〇〇と考えたため。
      %br
      %p
        1年後の姿：
        技術の向上の努力研鑽
        チームに刺激を与える存在
      %p
        3年後の姿：
        上流工程に関わる
        設計から〜まで一貫して行える
        顧客の課題解決
  %br
  .skill
    .name
      %h2
        skill
    .box2
      HTML
      CSS
      Javascript
      jQuery
      Ruby
      Ruby on Rails
      Git
      Docker
      CircleCI
      AWS
      学習経緯：
      プログラミングスクールでGitHubのプルリクを用いたチーム開発を経験し、スクール卒業後は独学でRuby on Railsを用いたオリジナルアプリを開発し、アプリを開発しながら学習していきました。
      開発エピソード：このアプリを作った目的は「減量が続かない」という自分自身の悩みを解決するためです。どうすれば減量を継続しやすくなるか考え、グラフ機能を実装しました。「アプリを起動する」ボタン
  .portfolio
    .name
      %h2
        portfolio
    .box2
      ポートフォリオ
      個人開発アプリ
      使用した技術：HTML / CSS / Ruby / Ruby on Rails / jQuery / Git / GitHub / MySQL / Sass / haml / Rspec / AWS( EC2 / IAM / S3 / VPS / RDS / Route53 / ALB ) / Nginx / Capistrano / Docker / CircleCI / Chart.js / Boostrap / TwitterAPI
      PFC MASTER
      個人開発サイト
  %br
  .others
    .name
      %h2
        others
    .box2
      Qiita執筆　概要　こだわりポイント
      面接練習会の主催
      ポートフォリオ説明YouTube動画
  %br
  .hobby
    .name
      %h2
        hobby
    .box2
      アフィリエイトブログ

%link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700")
-# <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

