.container-fluid {
  margin-top: 56px;
  .row {
    .col-sm-2 {
      margin: 0;
      padding: 0;
    } 
    .col-sm-8 {
      margin: 0;
      padding: 0;
      overflow-y: scroll;
      height: 100vh;
      z-index: 5;
    }
  }
}