* {
  box-sizing: border-box;
}
.main {
  padding: 10px;
  section.head {
    padding: 10px;
    .content {
      padding: 0.5em 1em;
      margin: 2em 0;
      font-weight: bold;
      color: red;/*文字色*/
      background: #FFF;
      border: solid 3px #6091d3;/*線*/
      border-radius: 10px;/*角の丸み*/
      opacity: 0.9;
    }
    .content p {
      margin: 0; 
      padding: 0;
    }
  }
  section {
    padding: 10px;
    .flame {
      .name {
        text-align: center;
        h2 {
          position: relative;
          display: inline-block;
          padding: 0 65px;
          text-align: center;
          color: #ffffff;
        }
      }
      .content {
        padding: 0.5em 1em;
        margin: 2em 0;
        font-weight: bold;
        color: #6091d3;/*文字色*/
        background: #FFF;
        border: solid 3px #6091d3;/*線*/
        border-radius: 10px;/*角の丸み*/
        opacity: 0.9;
        .balloon5 {
          width: 100%;
          margin: 1.5em 0;
          overflow: hidden;
        }
        .balloon5 .faceicon {
          float: left;
          margin-right: -90px;
          width: 80px;
        }
        .balloon5 .faceicon img{
          width: 100%;
          height: auto;
          border: solid 3px #d7ebfe;
          border-radius: 50%;
        }
        .balloon5 .chatting {
          width: 100%;
        }
        .says {
          display: inline-block;
          position: relative; 
          margin: 5px 0 0 105px;
          padding: 17px 13px;
          border-radius: 12px;
          background: #d7ebfe;
        }
        .says:after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 18px; 
          left: -24px;
          border: 12px solid transparent;
          border-right: 12px solid #d7ebfe;
        } 
        .says p {
          margin: 0;
          padding: 0;
        }
        // ここから右側吹き出し作るために追加した部分
        .balloon6 {
          width: 100%;
          margin: 1.5em 0;
          overflow: hidden;
        }
        .balloon6 .faceicon {
          float: right;
          margin-left: -90px;
          width: 80px;
        }
        .balloon6 .faceicon img{
          width: 100%;
          height: auto;
          border: solid 3px #d7ebfe;
          border-radius: 50%;
        }
        .balloon6 .chatting {
          width: 100%;
        }
        // ここまで右側吹き出し作るために追加した部分
        //ここから右側吹き出しの追加設定
        .says2 {
          display: inline-block;
          position: relative; 
          margin: 5px 105px 0 0;
          padding: 17px 13px;
          border-radius: 12px;
          background: #d7ebfe;
        }
        .says2:after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 18px; 
          right: -24px;
          border: 12px solid transparent;
          border-left: 12px solid #d7ebfe;
        } 
        .says2 p {
          margin: 0;
          padding: 0;
        }
        //ここまで右側吹き出しの追加設定
        .answer {
          margin-left: 360px;
        }
      }
      .content p {
        margin: 0; 
        padding: 0;
      }
    }
  }
}