* {
  box-sizing: border-box;
}
.main {
  padding: 10px;
  section {
    padding: 10px;
    #profile {
      .name {
        text-align: center;
        h2 {
          position: relative;
          display: inline-block;
          padding: 0 65px;
          text-align: center;
          color: #ffffff;
        }
        h2:before,
        h2:after {
          position: absolute;
          top: calc(50% - 3px);
          width: 50px;
          height: 6px;
          content: '';
          border-top: solid 2px #ffffff;
          border-bottom: solid 2px #ffffff;
        }
        h2:before {
          left: 0;
        }
        h2:after {
          right: 0;
        }
      }
      .box2 {
        padding: 0.5em 1em;
          margin: 2em 0;
          font-weight: bold;
          color: #6091d3;/*文字色*/
          background: #FFF;
          border: solid 3px #6091d3;/*線*/
          border-radius: 10px;/*角の丸み*/
          opacity: 0.9;
      }
      .box2 p {
        margin: 0; 
        padding: 0;
      }
    }
  }
  section {
    #vision {
      .name {
        text-align: center;
        h2 {
          position: relative;
          display: inline-block;
          padding: 0 65px;
          text-align: center;
          color: #ffffff;
        }
        h2:before,
        h2:after {
          position: absolute;
          top: calc(50% - 3px);
          width: 50px;
          height: 6px;
          content: '';
          border-top: solid 2px #ffffff;
          border-bottom: solid 2px #ffffff;
        }
        h2:before {
          left: 0;
        }
        h2:after {
          right: 0;
        }
      }
      .box2 {
        padding: 0.5em 1em;
        margin: 2em 0;
        font-weight: bold;
        color: #6091d3;/*文字色*/
        background: #FFF;
        border: solid 3px #6091d3;/*線*/
        border-radius: 10px;/*角の丸み*/
        opacity: 0.9;
        .balloon5 {
          width: 100%;
          margin: 1.5em 0;
          overflow: hidden;
        }
        .balloon5 .faceicon {
          float: left;
          margin-right: -90px;
          width: 80px;
        }
        .balloon5 .faceicon img{
          width: 100%;
          height: auto;
          border: solid 3px #d7ebfe;
          border-radius: 50%;
        }
        .balloon5 .chatting {
          width: 100%;
        }
        .says {
          display: inline-block;
          position: relative; 
          margin: 5px 0 0 105px;
          padding: 17px 13px;
          border-radius: 12px;
          background: #d7ebfe;
        }
        .says:after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 18px; 
          left: -24px;
          border: 12px solid transparent;
          border-right: 12px solid #d7ebfe;
        } 
        .says p {
          margin: 0;
          padding: 0;
        }
      }
      
      .box2 p {
        margin: 0; 
        padding: 0;
      }
    }
  }
  section {
    #skills {
      .name {
        text-align: center;
        h2 {
          position: relative;
          display: inline-block;
          padding: 0 65px;
          text-align: center;
          color: #ffffff;
        }
        h2:before,
        h2:after {
          position: absolute;
          top: calc(50% - 3px);
          width: 50px;
          height: 6px;
          content: '';
          border-top: solid 2px #ffffff;
          border-bottom: solid 2px #ffffff;
        }
        h2:before {
          left: 0;
        }
        h2:after {
          right: 0;
        }
      }
      .box2 {
        padding: 0.5em 1em;
        margin: 2em 0;
        font-weight: bold;
        color: #6091d3;/*文字色*/
        background: #FFF;
        border: solid 3px #6091d3;/*線*/
        border-radius: 10px;/*角の丸み*/
        opacity: 0.9;
      }
      .box2 p {
        margin: 0; 
        padding: 0;
      }
    }
  }
  section {
    #portfolio {
      .name {
        text-align: center;
        h2 {
          position: relative;
          display: inline-block;
          padding: 0 65px;
          text-align: center;
          color: #ffffff;
        }
        h2:before,
        h2:after {
          position: absolute;
          top: calc(50% - 3px);
          width: 50px;
          height: 6px;
          content: '';
          border-top: solid 2px #ffffff;
          border-bottom: solid 2px #ffffff;
        }
        h2:before {
          left: 0;
        }
        h2:after {
          right: 0;
        }
      }
      .box2 {
        padding: 0.5em 1em;
        margin: 2em 0;
        font-weight: bold;
        color: #6091d3;/*文字色*/
        background: #FFF;
        border: solid 3px #6091d3;/*線*/
        border-radius: 10px;/*角の丸み*/
        opacity: 0.9;
      }  
      .box2 p {
        margin: 0; 
        padding: 0;
      }
      .youtube-container {
        text-align: center;
      }
    }
  }
  section {
    #others {
      .name {
        text-align: center;
        h2 {
          position: relative;
          display: inline-block;
          padding: 0 65px;
          text-align: center;
          color: #ffffff;
        }
        h2:before,
        h2:after {
          position: absolute;
          top: calc(50% - 3px);
          width: 50px;
          height: 6px;
          content: '';
          border-top: solid 2px #ffffff;
          border-bottom: solid 2px #ffffff;
        }
        h2:before {
          left: 0;
        }
        h2:after {
          right: 0;
        }
      }
      .box2 {
        padding: 0.5em 1em;
        margin: 2em 0;
        font-weight: bold;
        color: #6091d3;/*文字色*/
        background: #FFF;
        border: solid 3px #6091d3;/*線*/
        border-radius: 10px;/*角の丸み*/
        opacity: 0.9;
      }  
      .box2 p {
        margin: 0; 
        padding: 0;
      }
    }
  }
  section {

    #hobby {
      .name {
        text-align: center;
        h2 {
          position: relative;
          display: inline-block;
          padding: 0 65px;
          text-align: center;
          color: #ffffff;
        }
        h2:before,
        h2:after {
          position: absolute;
          top: calc(50% - 3px);
          width: 50px;
          height: 6px;
          content: '';
          border-top: solid 2px #ffffff;
          border-bottom: solid 2px #ffffff;
        }
        h2:before {
          left: 0;
        }
        h2:after {
          right: 0;
        }
      }
      .box2 {
        padding: 0.5em 1em;
        margin: 2em 0;
        font-weight: bold;
        color: #6091d3;/*文字色*/
        background: #FFF;
        border: solid 3px #6091d3;/*線*/
        border-radius: 10px;/*角の丸み*/
        opacity: 0.8;
      }  
      .box2 p {
        margin: 0; 
        padding: 0;
      }
    }
  }
}