.side__content {
  padding: 10px;
  position: fixed;
  .side__menu {
    .side__menu__title {
      text-align: center;
      color: white;
    }
    .side__liset__wrapper {
      li {
        color: white;
      }
    }
  }
}