.side__content {
  // position: fixed;
  .side__menu {
    .side__menu__title {
      text-align: center;
      color: white;
    }
    .side__liset__wrapper {
      li {
        list-style: none;
      }
      .gosection {
        margin: 0;
      }
    }
  }
}